h1{color: purple;}
h2{color: #ffd788;}
h3{color: violet;}
.contact{color: purple;}
#div1{background-color: #ffd788;
height: 20px;
width: 170px;
margin: 10px;
padding: 10px;
border: solid purple 3px;
border-radius: 10px;
text-align: center;
display: inline-block;}
#div2{background-color: #ffd788;
    height: 20px;
    width: 170px;
            display: inline-block;
padding: 10px;
border: solid purple 3px;
border-radius: 10px;
margin: 10px;
text-align: center;}
#bpara{font-weight: bold;}
#contact1{border: solid; width: 265px; padding: 10px; border-radius: 30px; text-align: center;}
